@using Task_1._0.ViewModel
@model SupplierVM
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Supplier</h1>

<form action="Create" method="post">
    <div class="form-group">
    <label asp-for="SupplierName" ></label>
    <input asp-for="SupplierName" class="form-control"  placeholder="Supplier Name ...">
    <span class="text-danger" asp-validation-for="SupplierName"></span>
    </div>

    <div class="form-group">
       <input  type="submit" class="btn btn-primary" />
       <a href="/Supplier/ShowAll" class="btn btn-info">Back To Show Supplier </a>
    </div>
</form>